<!DOCTYPE html>
<html ng-app = "myModule">
<head>
	<title>Rocking angularJS</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="js.js"></script>
</head>
<body>

<div ng-controller="myController">


<ul ng-repeat = "technology in technologies" ng-init = "stub = technology">
	<li>{{technology.name}}</li>
<input type="button" name="likes" value="{{technology.likes}}" ng-click="incrementLikes(technology)">
<input type="button" name="dislikes" value="{{technology.dislikes}}" ng-click="incrementDislikes(technology)">

<!-- simply using a stub by means of ng-init -->

<!-- The ng-init directive defines initial values for an AngularJS application.

Normally, you will not use ng-init. You will use a controller or module instead. -->


<input type="button" name="dislikes" value="{{technology.dislikes}}" ng-click="incrementDislikes(stub)">

</ul>






<br/>




</div>
</body>
</html>


