
<h1>Episode Details</h1>

<!-- ////The controller has to set this student stuff and all -->


<table style="border:1px solid black">
    <tr>
        <td>Title</td>
        <td>{{student.Title}}</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{student.Year}}</td>
    </tr>
    <tr>
        <td>Episode</td>
        <td>{{student.Episode}}</td>
    </tr>
    <tr>
        <td>imdbID</td>
        <td>{{student.imdbID}}</td>
    </tr>
</table>
<h4><a href="#/students">Back to Students list</a></h4>